@import './styles/classes.css'; /* do not remove */
@import './styles/base.css'; /* do not remove */

html,
body{
    height: 100%;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    min-width: 800px;
}

header > div {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-auto-columns: auto;
    gap: 1em;
  }

header > div > div {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
}

.texts{
    column-gap: 2rem;
}

@media(min-width: 800px){
    header{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }
}

#flexbox {
    display: flex;
    flex-direction: column;
}
  
#canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    #flexbox h2 {
      font-size: 6em;
    }
}

#grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 250px 250px 250px;
}

#grid > *{
    padding: 1em; 
}

#grid h2{
    grid-column: span 3;
    text-align: right;
    font-size: 6em;
}

#grid p:first-child{
    grid-column: span 2;
}

#grid div{
    grid-column: 2 / span 2;
    grid-row: 3 / span 3;
}


footer div{
    display: flex;
}

footer{
    padding: 1em;
}

@media screen and (min-width: 800px){
    footer div{
        padding: 4em;
        flex-direction: row;
    }
    
    footer img{
        justify-content: space-between;
    }
    
    footer div p{
        margin-top: 0;
    }
}
